@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dayrom' ;
  src: url('/fonts/DAYROM__.ttf');
}

.loader {
  scale: 0.9;
  width: 25px;
  aspect-ratio: 1;
  --g1:conic-gradient(from  90deg at 1px  1px ,#0000 90deg,var(--bg-color) 0);
  --g2:conic-gradient(from -90deg at 10px 10px,#0000 90deg,var(--bg-color) 0);
  background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
  background-size: 11px 11px;
  background-repeat: no-repeat;
  animation: l7 1.5s infinite;
}
@keyframes l7 {
  0%   {background-position:0    0   ,0 100%,100% 100% }
  25%  {background-position:100% 0   ,0 100%,100% 100% }
  50%  {background-position:100% 0   ,0 0   ,100% 100% }
  75%  {background-position:100% 0   ,0 0   ,0    100% }
  100% {background-position:100% 100%,0 0   ,0    100% }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Dayrom';
  color: white;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
